* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: grey;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

.login-box {
  width: 30%;
  padding: 70px 0;
  border: 5px solid black;
  background-color:rgb(204, 204, 201)
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 15%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
